﻿<div>
    <h1>ADMIN</h1>
    <file name="image" ng-model="inputFile" accept="image/png,image/jpg,image/jpeg" />
    </file>
    <button type="button" class="btn btn-warning cancel" data-ng-click="upload()">
        <span>Start upload</span>
    </button>
    <img src="{{inputFile.url}}" style="width: 30%; height: auto;">
    <div ng-repeat="result in results">
        <img src="{{result.image}}" style="width: 30%; height: auto;">
    </div>
      <a href="" ng-click="goToUser()">Go TO User</a>
</div>
