﻿<div>
    <h1>USER</h1>
    <div class="image-container">
        <div ng-repeat="result in results" id="image">
            <div>
                <a href="" ng-click="editImage(result)">Edit</a>
                <a href="" ng-click="deleteImage(result)">Delete</a>
            </div>
            <img src="{{result.image}}" class="image-view">
        </div>
    </div>
    <a href="" ng-click="goToAdmin()">Go TO Admin</a>
</div>
